<h1>Listing of all the books</h1>

<a href="/books/new">Create a new book</a>

<ol>
    <% @books.each do |book| %>
        <li>
            <a href="/books/<%= book.id %>">
                <%= book.title %>
            </a>
        </li>
    <% end %>
</ol>