<h1>Listing of all the books</h1>


<uL>
    <% @books.each do |book| %>
        <li>
            <a href="/books/<%= book.id %>"><%= book.title %></a>
            
            
        </li>
    <% end %>
</uL>